<h1>Search</h1>
<form class='form-search' action='search' method='get'>
  <label for='search-term'>Search</label>
  <input id='search-term' type='text' name='term' class='input-medium search-query' />
  <input type='submit' value='Go' class='btn btn-primary' />
</form>
