<h1>Search</h1>
<form class='form-search' action='search' method='get'>
  <input type='text' name='term' class='input-medium search-query' />
  <input type='submit' value='Search' class='btn btn-primary' />
</form>
